<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bjd.platform.system.provider.mapper.SysCountMapper">
    <sql id="selectColumns">
        SELECT DISTINCT
        a.id,
        a.province,
        a.city,
        a.area,
        a.category,
        a.sum,
        a.level,
        a.year,
        a.type,
        FROM sys_count a
    </sql>

    <select id="getCount" resultType="cn.bjd.platform.system.api.entity.SysCount">
        <include refid="selectColumns"/>
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                  AND a.category=#{category}
                </if>
                <if test="province != null and province != ''">
                  AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                  AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                  AND a.area = #{area}
                </if>
                <if test="type != null and type != ''">
                  AND a.type = #{type}
                </if>
                <if test="level != null and level != ''">
                  AND a.level = #{level}
                </if>
            </trim>
        </where>

    </select>

    <!-- 根据类型查询企业相关数据 -->
    <select id="countForCompany" resultType="int" parameterType="java.util.List">
      SELECT sum(a.sum) from sys_count a
        <where>
              a.category in
            <foreach collection="list" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <!--企业数量分区域统计-->
    <select id="countGroupByProvinceAndCityN" resultType="cn.bjd.platform.system.api.entity.SysCount">
        SELECT a.province as name,sum(a.sum) as value from sys_count a
          <where>
              <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category in (#{category})
                </if>
                  <if test="level != null and level != '' ">
                    AND a.level = #{level}
                  </if>
                    AND a.province != ''
              </trim>
          </where>
        GROUP BY a.province
    </select>

    <select id="countGroupByProvinceAndCityP" resultType="cn.bjd.platform.system.api.entity.SysCount">
        SELECT a.city as name,sum(a.sum) as value from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category in (#{category})
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="level != null and level != '' ">
                    AND a.level = #{level}
                </if>
                AND a.city != ''
            </trim>
        </where>
        GROUP BY a.city
    </select>

    <select id="countGroupByProvinceAndCityC" resultType="cn.bjd.platform.system.api.entity.SysCount">
        SELECT a.area as name,sum(a.sum) as value from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category in (#{category})
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="level != null and level != '' ">
                    AND a.level = #{level}
                </if>
                AND a.area != ''
            </trim>
        </where>
        GROUP BY a.area
    </select>


    <!--企业历史数量分区域变化-->
    <select id="countAreaOnlySelectNothing" resultType="cn.bjd.platform.system.api.entity.SysCount">
       SELECT a.province as name,a.year,sum(a.sum) as value from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
                AND a.province !=''
            </trim>
        </where>
        group by a.year,a.province ORDER BY a.province,a.year
    </select>

    <select id="countAreaOnlySelectProvince" resultType="cn.bjd.platform.system.api.entity.SysCount">
        SELECT a.city as name,a.year,sum(a.sum) as value from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
                AND a.city != ''
            </trim>
        </where>
        group by a.year,a.city order by a.city,a.year
    </select>


    <select id="countAreaOnlySelectCity" resultType="cn.bjd.platform.system.api.entity.SysCount">
          SELECT a.area as name,a.year,sum(a.sum) as value from sys_count a
          <where>
              <trim prefixOverrides="AND">
                  <if test="category != null and category != ''">
                      AND a.category = #{category}
                  </if>
                  <if test="province != null and province != ''">
                      AND a.province = #{province}
                  </if>
                  <if test="city != null and city != ''">
                      AND a.city = #{city}
                  </if>
                  <if test="level != null and level !='' ">
                      AND a.level = #{level}
                  </if>
                  AND a.area != ''
              </trim>
          </where>
        group by a.year,a.area order by a.area,a.year
    </select>


    <select id="countAreaOnlySelectArea" resultType="cn.bjd.platform.system.api.entity.SysCount">
        SELECT a.area as name,a.year,sum(a.sum) as value from sys_count a
        <where>
        <trim prefixOverrides="AND">
            <if test="category != null and category != ''">
                AND a.category = #{category}
            </if>
            <if test="province != null and province != ''">
                AND a.province = #{province}
            </if>
            <if test="city != null and city != ''">
                AND a.city = #{city}
            </if>
            <if test="area != null and area != ''">
                AND a.area = #{area}
            </if>
            <if test="level != null and level !='' ">
                AND a.level = #{level}
            </if>
        </trim>
        </where>
        group by a.year,a.area order by a.area, a.year
    </select>

    <!--行业分类统计  TOP10 Customs海关企业评级统计 Tax税务企业评级统计 -->
    <select id="countIndustryCustomsTaxTop" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.type from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
                <if test="type != null and type != ''">
                    AND a.type like '%D%'
                </if>
            </trim>
        </where>
        group by a.type
        order by sum(a.sum) DESC
        <if test="top != null and top != ''">
            limit 10
        </if>
    </select>

    <select id="countIndustryTop5" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.type from sys_count a
        <where>
            <trim prefixOverrides="AND">
                AND a.category IN ('INDUSTRY')
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
        group by a.type order by sum(a.sum) DESC limit 5
    </select>

    
    <select id="countSumCompany" resultType="cn.bjd.platform.system.api.entity.SysCount">
         select sum(a.sum) as value,a.category FROM sys_count a
         <where>
             <trim prefixOverrides="AND">
                 AND a.category = 'ETPCOUNT'
                 <if test="province != null and province != ''">
                     AND a.province = #{province}
                 </if>
                 <if test="city != null and city != ''">
                     AND a.city = #{city}
                 </if>
                 <if test="area != null and area != ''">
                     AND a.area = #{area}
                 </if>
                 <if test="level != null and level !='' ">
                     AND a.level = #{level}
                 </if>
             </trim>
         </where>
        group by a.category;
    </select>
    
    

    <!--行业历史数量变化-->
    <select id="industryHistoryByYear" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.type,a.year from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
        group by a.type,a.year
    </select>


    <!--涉诉信息统计  违法信息统计-->
    <select id="countDSelect" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.category from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
                <if test="type != null and type !=''">
                    AND a.type like '%D%'
                </if>
            </trim>

        </where>
        group by a.category
    </select>
    
    <select id="countDQueryV2" resultType="cn.bjd.platform.system.api.entity.SysCount">
      select sum(a.sum) as value,a.category from sys_count a
        <where>
            <trim prefixOverrides="AND">
                AND a.category IN ('COURTPUB','EXECUTED','BREAKFAITH','COURT')
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
      group by a.category
    </select>

    <select id="countDTypeQueryV2" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.category from sys_count a
        <where>
            <trim prefixOverrides="AND">
                AND a.category IN ('CUSTOMS','TAX') and a.type like '%D%'
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
        group by a.category
    </select>


    <!--涉诉信息 违法信息历史变化 企业增长消亡曲线-->
    <select id="countCompanyCommon" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.year from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="type != null and type !=  ''">
                    AND a.type like '%D%'
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
        group by a.year
        ORDER BY a.year DESC
        <if test="top != null and top != ''">
            limit 11
        </if>
    </select>


    <!--海关税务企业评级历史变化统计-->
    <select id="countCustomsTaxGradeHistory" resultType="cn.bjd.platform.system.api.entity.SysCount">
        select sum(a.sum) as value,a.type,a.year from sys_count a
        <where>
            <trim prefixOverrides="AND">
                <if test="category != null and category != ''">
                    AND a.category = #{category}
                </if>
                <if test="province != null and province != ''">
                    AND a.province = #{province}
                </if>
                <if test="city != null and city != ''">
                    AND a.city = #{city}
                </if>
                <if test="area != null and area != ''">
                    AND a.area = #{area}
                </if>
                <if test="level != null and level !='' ">
                    AND a.level = #{level}
                </if>
            </trim>
        </where>
        group by a.type,a.year
    </select>

</mapper>