<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bjd.platform.system.provider.mapper.SysDepartmentMapper">

    <sql id="selectColumns">
        SELECT DISTINCT
        a.id,
        a.parent_id,
        a.parent_ids,
        a.name,
        a.type,
        a.address,
        a.enabled,
        a.remarks,
        a.create_date,
        a.update_date,
        a.del_flag,
        a.master,
        a.primary_person,
        a.deputy_person
        FROM sys_department a
    </sql>


    <insert id="insert">
        INSERT INTO sys_department (
        id,
        parent_id,
        parent_ids,
        name,
        type,
        address,
        enabled,
        remarks,
        create_date,
        update_date,
        del_flag,
        master,
        primary_person,
        deputy_person
        ) VALUES (
        #{id},
        #{parentId},
        #{parentIds},
        #{name},
        #{type},
        #{address},
        #{enabled},
        #{remarks},
        #{createDate},
        #{updateDate},
        #{delFlag},
        #{master},
        #{primaryPerson},
        #{deputyPerson}
        )
    </insert>

    <update id="update">
        UPDATE sys_department
        <set>
            parent_id = #{parentId},
            parent_ids = #{parentIds},
            name = #{name},
            type = #{type},
            address = #{address},
            enabled = #{enabled},
            remarks = #{remarks},
            update_date = #{updateDate},
            del_flag = #{delFlag},
            master = #{master},
            primary_person = #{primaryPerson},
            deputy_person = #{deputyPerson}
        </set>
        WHERE id = #{id}
    </update>




</mapper>