<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bjd.platform.system.provider.mapper.SysRegionMapper">

    <sql id="selectColumns">
        SELECT DISTINCT
        a.code,
        a.name as name,
        a.name as text,
        a.parent,
        a.short_name,
        a.level,
        a.area_code,
        a.post_code,
        a.pinyin,
        a.lng,
        a.lat
        FROM sys_region a
    </sql>


    <select id="findRegionByParent" resultType="cn.bjd.platform.system.api.entity.SysRegion">
        SELECT DISTINCT
        a.code,
        a.name,
        a.parent,
        a.short_name,
        a.level,
        a.area_code,
        a.post_code,
        a.pinyin,
        a.lng,
        a.lat,
        b.suggestion,
        b.score
        FROM sys_region a LEFT JOIN sys_score b on a.code = b.code
        WHERE a.parent = #{parent} AND a.level = #{level}
    </select>


    <select id="findAllList" resultType="cn.bjd.platform.system.api.entity.SysRegion">
        <include refid="selectColumns"/>
    </select>


    <select id="get" resultType="cn.bjd.platform.system.api.entity.SysRegion">
        <include refid="selectColumns"/>
        WHERE a.code = #{code}
    </select>


    <select id="findListByUserId" resultType="cn.bjd.platform.system.api.entity.SysRegion">
        <include refid="selectColumns"/>
        LEFT JOIN sys_user_region sr ON sr.code = a.code
        LEFT JOIN sys_user u ON u.id = sr.user_id WHERE u.id = #{userId}
    </select>


</mapper>