<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.CrdCourtpubMapper">
    <sql id="all_column">
    "id",
    "case_cause",
    "province",
    "city",
    "area",
    "client",
    "clients",
    "court_name",
    "data_from",
    "detail_link",
    "is_court_pub",
    "judges",
    "path",
    "pdf_link",
    "person_name",
    "pub_content",
    "pub_person",
    "pub_type",
    "source",
    "subject",
    "summary",
    "pub_date",
    "modify_date",
    "collect_date",
    "collect_time",
    "flag",
    "create_time",
    "update_time"
  </sql>

    <sql id="all_column_etp">
    crd."id",
    crd."case_cause",
    crd."province",
    crd."city",
    crd."area",
    crd."client",
    crd."clients",
    crd."court_name",
    crd."data_from",
    crd."detail_link",
    crd."is_court_pub",
    crd."judges",
    crd."path",
    crd."pdf_link",
    crd."person_name",
    crd."pub_content",
    crd."pub_person",
    crd."pub_type",
    crd."source",
    crd."subject",
    crd."summary",
    crd."pub_date",
    crd."modify_date",
    crd."collect_date",
    crd."collect_time",
    crd."flag",
    crd."create_time",
    crd."update_time",
    etp."name" as "etp_id"
  </sql>
    <resultMap id="BaseResultMap" type="cn.bjd.platform.elastic.api.entity.CrdCourtpub">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="case_cause" property="caseCause" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="area" property="area" jdbcType="VARCHAR"/>
        <result column="client" property="client" jdbcType="VARCHAR"/>
        <result column="clients" property="clients" jdbcType="VARCHAR"/>
        <result column="court_name" property="courtName" jdbcType="VARCHAR"/>
        <result column="data_from" property="dataFrom" jdbcType="INTEGER"/>
        <result column="detail_link" property="detailLink" jdbcType="VARCHAR"/>
        <result column="is_court_pub" property="isCourtPub" jdbcType="VARCHAR"/>
        <result column="judges" property="judges" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="pdf_link" property="pdfLink" jdbcType="VARCHAR"/>
        <result column="person_name" property="personName" jdbcType="VARCHAR"/>
        <result column="pub_content" property="pubContent" jdbcType="VARCHAR"/>
        <result column="pub_person" property="pubPerson" jdbcType="VARCHAR"/>
        <result column="pub_type" property="pubType" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="pub_date" property="pubDate" jdbcType="DATE"/>
        <result column="modify_date" property="modifyDate" jdbcType="DATE"/>
        <result column="collect_date" property="collectDate" jdbcType="DATE"/>
        <result column="collect_time" property="collectTime" jdbcType="DATE"/>
        <result column="flag" property="flag" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="etp_id" property="etpId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        id, case_cause, province, city, area, client, clients, court_name, data_from, detail_link,
        is_court_pub, judges, path, pdf_link, person_name, pub_content, pub_person, pub_type,
        source, subject, summary, pub_date, modify_date, collect_date, collect_time, flag,
        create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        select
        <include refid="Base_Column_List"/>
        from public.crd_courtpub
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        delete from public.crd_courtpub
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.bjd.platform.elastic.api.entity.CrdCourtpub">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        insert into public.crd_courtpub (id, case_cause, province,
        city, area, client,
        clients, court_name, data_from,
        detail_link, is_court_pub, judges,
        path, pdf_link, person_name,
        pub_content, pub_person, pub_type,
        source, subject, summary,
        pub_date, modify_date, collect_date,
        collect_time, flag, create_time,
        update_time)
        values (#{id,jdbcType=VARCHAR}, #{caseCause,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR},
        #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, #{client,jdbcType=VARCHAR},
        #{clients,jdbcType=VARCHAR}, #{courtName,jdbcType=VARCHAR}, #{dataFrom,jdbcType=INTEGER},
        #{detailLink,jdbcType=VARCHAR}, #{isCourtPub,jdbcType=VARCHAR}, #{judges,jdbcType=VARCHAR},
        #{path,jdbcType=VARCHAR}, #{pdfLink,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR},
        #{pubContent,jdbcType=VARCHAR}, #{pubPerson,jdbcType=VARCHAR}, #{pubType,jdbcType=VARCHAR},
        #{source,jdbcType=INTEGER}, #{subject,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR},
        #{pubDate,jdbcType=DATE}, #{modifyDate,jdbcType=DATE}, #{collectDate,jdbcType=DATE},
        #{collectTime,jdbcType=DATE}, #{flag,jdbcType=INTEGER}, #{createTime,jdbcType=DATE},
        #{updateTime,jdbcType=DATE})
    </insert>
    <insert id="insertSelective" parameterType="cn.bjd.platform.elastic.api.entity.CrdCourtpub">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        insert into public.crd_courtpub
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="caseCause != null">
                case_cause,
            </if>
            <if test="province != null">
                province,
            </if>
            <if test="city != null">
                city,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="client != null">
                client,
            </if>
            <if test="clients != null">
                clients,
            </if>
            <if test="courtName != null">
                court_name,
            </if>
            <if test="dataFrom != null">
                data_from,
            </if>
            <if test="detailLink != null">
                detail_link,
            </if>
            <if test="isCourtPub != null">
                is_court_pub,
            </if>
            <if test="judges != null">
                judges,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="pdfLink != null">
                pdf_link,
            </if>
            <if test="personName != null">
                person_name,
            </if>
            <if test="pubContent != null">
                pub_content,
            </if>
            <if test="pubPerson != null">
                pub_person,
            </if>
            <if test="pubType != null">
                pub_type,
            </if>
            <if test="source != null">
                source,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="pubDate != null">
                pub_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
            <if test="collectDate != null">
                collect_date,
            </if>
            <if test="collectTime != null">
                collect_time,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="caseCause != null">
                #{caseCause,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                #{area,jdbcType=VARCHAR},
            </if>
            <if test="client != null">
                #{client,jdbcType=VARCHAR},
            </if>
            <if test="clients != null">
                #{clients,jdbcType=VARCHAR},
            </if>
            <if test="courtName != null">
                #{courtName,jdbcType=VARCHAR},
            </if>
            <if test="dataFrom != null">
                #{dataFrom,jdbcType=INTEGER},
            </if>
            <if test="detailLink != null">
                #{detailLink,jdbcType=VARCHAR},
            </if>
            <if test="isCourtPub != null">
                #{isCourtPub,jdbcType=VARCHAR},
            </if>
            <if test="judges != null">
                #{judges,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="pdfLink != null">
                #{pdfLink,jdbcType=VARCHAR},
            </if>
            <if test="personName != null">
                #{personName,jdbcType=VARCHAR},
            </if>
            <if test="pubContent != null">
                #{pubContent,jdbcType=VARCHAR},
            </if>
            <if test="pubPerson != null">
                #{pubPerson,jdbcType=VARCHAR},
            </if>
            <if test="pubType != null">
                #{pubType,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                #{source,jdbcType=INTEGER},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="pubDate != null">
                #{pubDate,jdbcType=DATE},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=DATE},
            </if>
            <if test="collectDate != null">
                #{collectDate,jdbcType=DATE},
            </if>
            <if test="collectTime != null">
                #{collectTime,jdbcType=DATE},
            </if>
            <if test="flag != null">
                #{flag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.bjd.platform.elastic.api.entity.CrdCourtpub">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        update public.crd_courtpub
        <set>
            <if test="caseCause != null">
                case_cause = #{caseCause,jdbcType=VARCHAR},
            </if>
            <if test="province != null">
                province = #{province,jdbcType=VARCHAR},
            </if>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="client != null">
                client = #{client,jdbcType=VARCHAR},
            </if>
            <if test="clients != null">
                clients = #{clients,jdbcType=VARCHAR},
            </if>
            <if test="courtName != null">
                court_name = #{courtName,jdbcType=VARCHAR},
            </if>
            <if test="dataFrom != null">
                data_from = #{dataFrom,jdbcType=INTEGER},
            </if>
            <if test="detailLink != null">
                detail_link = #{detailLink,jdbcType=VARCHAR},
            </if>
            <if test="isCourtPub != null">
                is_court_pub = #{isCourtPub,jdbcType=VARCHAR},
            </if>
            <if test="judges != null">
                judges = #{judges,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="pdfLink != null">
                pdf_link = #{pdfLink,jdbcType=VARCHAR},
            </if>
            <if test="personName != null">
                person_name = #{personName,jdbcType=VARCHAR},
            </if>
            <if test="pubContent != null">
                pub_content = #{pubContent,jdbcType=VARCHAR},
            </if>
            <if test="pubPerson != null">
                pub_person = #{pubPerson,jdbcType=VARCHAR},
            </if>
            <if test="pubType != null">
                pub_type = #{pubType,jdbcType=VARCHAR},
            </if>
            <if test="source != null">
                source = #{source,jdbcType=INTEGER},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="pubDate != null">
                pub_date = #{pubDate,jdbcType=DATE},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=DATE},
            </if>
            <if test="collectDate != null">
                collect_date = #{collectDate,jdbcType=DATE},
            </if>
            <if test="collectTime != null">
                collect_time = #{collectTime,jdbcType=DATE},
            </if>
            <if test="flag != null">
                flag = #{flag,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=DATE},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.bjd.platform.elastic.api.entity.CrdCourtpub">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Thu Jan 11 15:56:44 CST 2018.
        -->
        update public.crd_courtpub
        set case_cause = #{caseCause,jdbcType=VARCHAR},
        province = #{province,jdbcType=VARCHAR},
        city = #{city,jdbcType=VARCHAR},
        area = #{area,jdbcType=VARCHAR},
        client = #{client,jdbcType=VARCHAR},
        clients = #{clients,jdbcType=VARCHAR},
        court_name = #{courtName,jdbcType=VARCHAR},
        data_from = #{dataFrom,jdbcType=INTEGER},
        detail_link = #{detailLink,jdbcType=VARCHAR},
        is_court_pub = #{isCourtPub,jdbcType=VARCHAR},
        judges = #{judges,jdbcType=VARCHAR},
        path = #{path,jdbcType=VARCHAR},
        pdf_link = #{pdfLink,jdbcType=VARCHAR},
        person_name = #{personName,jdbcType=VARCHAR},
        pub_content = #{pubContent,jdbcType=VARCHAR},
        pub_person = #{pubPerson,jdbcType=VARCHAR},
        pub_type = #{pubType,jdbcType=VARCHAR},
        source = #{source,jdbcType=INTEGER},
        subject = #{subject,jdbcType=VARCHAR},
        summary = #{summary,jdbcType=VARCHAR},
        pub_date = #{pubDate,jdbcType=DATE},
        modify_date = #{modifyDate,jdbcType=DATE},
        collect_date = #{collectDate,jdbcType=DATE},
        collect_time = #{collectTime,jdbcType=DATE},
        flag = #{flag,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=DATE},
        update_time = #{updateTime,jdbcType=DATE}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <!--auto generated by codehelper on 2018-01-11 17:00:48-->
    <select id="findByEtpId" resultMap="BaseResultMap">
        select
        <include refid="all_column_etp"/>
        from public.crd_client etp LEFT JOIN crd_courtpub crd ON etp.courtpub_id = crd."id"
        where etp."name" = #{etpId};
    </select>

    <select id="findByEtpIdIn" resultMap="BaseResultMap">
        select
        <include refid="all_column_etp"/>
        from public.crd_client etp LEFT JOIN crd_courtpub crd ON etp.courtpub_id = crd."id"
        where etp."name" IN
        <foreach item="item" index="index" collection="etpIdList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findCountByEtpName" resultType="java.lang.Integer">
    select
    "count"(*)
    from public.crd_client
    where "name" = #{name};
  </select>

    <select id="findLikeClient" resultType="java.lang.String">
        select
        client
        from public.crd_courtpub
        where client like concat(concat('%',#{client}),'%')
    </select>


</mapper>