<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.EtpAlterMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.EtpAlter">
        <result column="id" property="id"/>
        <result column="etp_id" property="etpId"/>
        <result column="change_event" property="changeEvent"/>
        <result column="change_item_id" property="changeItemId"/>
        <result column="pre_change" property="preChange"/>
        <result column="aft_change" property="aftChange"/>
        <result column="change_date" property="changeDate"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        "id",
        "etp_id",
        "change_event",
        "change_item_id",
        "pre_change",
        "aft_change",
        "change_date"
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO etp_alter (
            "id",
            "etp_id",
            "change_event",
            "change_item_id",
            "pre_change",
            "aft_change",
            "change_date"
        ) VALUES (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.changeEvent},
            #{pojo.changeItemId},
            #{pojo.preChange},
            #{pojo.aftChange},
            #{pojo.changeDate}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective">
        INSERT INTO etp_alter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> "id",</if>
            <if test="pojo.etpId!=null"> "etp_id",</if>
            <if test="pojo.changeEvent!=null"> "change_event",</if>
            <if test="pojo.changeItemId!=null"> "change_item_id",</if>
            <if test="pojo.preChange!=null"> "pre_change",</if>
            <if test="pojo.aftChange!=null"> "aft_change",</if>
            <if test="pojo.changeDate!=null"> "change_date",</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.etpId!=null">#{pojo.etpId},</if>
            <if test="pojo.changeEvent!=null">#{pojo.changeEvent},</if>
            <if test="pojo.changeItemId!=null">#{pojo.changeItemId},</if>
            <if test="pojo.preChange!=null">#{pojo.preChange},</if>
            <if test="pojo.aftChange!=null">#{pojo.aftChange},</if>
            <if test="pojo.changeDate!=null">#{pojo.changeDate},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO etp_alter (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.changeEvent},
            #{pojo.changeItemId},
            #{pojo.preChange},
            #{pojo.aftChange},
            #{pojo.changeDate}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE etp_alter
        <set>
            <if test="pojo.id != null"> "id" = #{pojo.id}, </if>
            <if test="pojo.etpId != null"> "etp_id" = #{pojo.etpId}, </if>
            <if test="pojo.changeEvent != null"> "change_event" = #{pojo.changeEvent}, </if>
            <if test="pojo.changeItemId != null"> "change_item_id" = #{pojo.changeItemId}, </if>
            <if test="pojo.preChange != null"> "pre_change" = #{pojo.preChange}, </if>
            <if test="pojo.aftChange != null"> "aft_change" = #{pojo.aftChange}, </if>
            <if test="pojo.changeDate != null"> "change_date" = #{pojo.changeDate} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-01-11 16:49:06-->
    <select id="findByEtpId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_alter
        where "etp_id"=#{etpId}
    </select>

<!--auto generated by codehelper on 2018-01-12 10:27:25-->
    <select id="findByEtpIdIn" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_alter
        where "etp_id" in
        <foreach item="item" index="index" collection="etpIdList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>

