<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.EtpBranchMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.EtpBranch">
        <result column="id" property="id"/>
        <result column="etp_id" property="etpId"/>
        <result column="branch_company" property="branchCompany"/>
        <result column="branch_reg_office" property="branchRegOffice"/>
        <result column="uni_s_c_id" property="uniSCId"/>
        <result column="reg_n_o" property="regNO"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        "id",
        "etp_id",
        "branch_company",
        "branch_reg_office",
        "uni_s_c_id",
        "reg_n_o"
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO etp_branch (
            "id",
            "etp_id",
            "branch_company",
            "branch_reg_office",
            "uni_s_c_id",
            "reg_n_o"
        ) VALUES (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.branchCompany},
            #{pojo.branchRegOffice},
            #{pojo.uniSCId},
            #{pojo.regNO}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective">
        INSERT INTO etp_branch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> "id",</if>
            <if test="pojo.etpId!=null"> "etp_id",</if>
            <if test="pojo.branchCompany!=null"> "branch_company",</if>
            <if test="pojo.branchRegOffice!=null"> "branch_reg_office",</if>
            <if test="pojo.uniSCId!=null"> "uni_s_c_id",</if>
            <if test="pojo.regNO!=null"> "reg_n_o",</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.etpId!=null">#{pojo.etpId},</if>
            <if test="pojo.branchCompany!=null">#{pojo.branchCompany},</if>
            <if test="pojo.branchRegOffice!=null">#{pojo.branchRegOffice},</if>
            <if test="pojo.uniSCId!=null">#{pojo.uniSCId},</if>
            <if test="pojo.regNO!=null">#{pojo.regNO},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO etp_branch (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.branchCompany},
            #{pojo.branchRegOffice},
            #{pojo.uniSCId},
            #{pojo.regNO}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE etp_branch
        <set>
            <if test="pojo.id != null"> "id" = #{pojo.id}, </if>
            <if test="pojo.etpId != null"> "etp_id" = #{pojo.etpId}, </if>
            <if test="pojo.branchCompany != null"> "branch_company" = #{pojo.branchCompany}, </if>
            <if test="pojo.branchRegOffice != null"> "branch_reg_office" = #{pojo.branchRegOffice}, </if>
            <if test="pojo.uniSCId != null"> "uni_s_c_id" = #{pojo.uniSCId}, </if>
            <if test="pojo.regNO != null"> "reg_n_o" = #{pojo.regNO} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-01-11 16:49:35-->
    <select id="findByEtpId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_branch
        where "etp_id"=#{etpId}
    </select>

<!--auto generated by codehelper on 2018-01-12 10:28:00-->
    <select id="findByEtpIdIn" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_branch
        where "etp_id" in
        <foreach item="item" index="index" collection="etpIdList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>

