<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.EtpIllegalMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.EtpIllegal">
        <result column="id" property="id"/>
        <result column="etp_id" property="etpId"/>
        <result column="decide_org" property="decideOrg"/>
        <result column="main_fact" property="mainFact"/>
        <result column="enrol_date" property="enrolDate"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        "id",
        "etp_id",
        "decide_org",
        "main_fact",
        "enrol_date"
    </sql>

    <!--auto generated Code-->
    <insert id="insert">
        INSERT INTO etp_illegal (
            "id",
            "etp_id",
            "decide_org",
            "main_fact",
            "enrol_date"
        ) VALUES (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.decideOrg},
            #{pojo.mainFact},
            #{pojo.enrolDate}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective">
        INSERT INTO etp_illegal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">"id",</if>
            <if test="pojo.etpId!=null">"etp_id",</if>
            <if test="pojo.decideOrg!=null">"decide_org",</if>
            <if test="pojo.mainFact!=null">"main_fact",</if>
            <if test="pojo.enrolDate!=null">"enrol_date",</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.etpId!=null">#{pojo.etpId},</if>
            <if test="pojo.decideOrg!=null">#{pojo.decideOrg},</if>
            <if test="pojo.mainFact!=null">#{pojo.mainFact},</if>
            <if test="pojo.enrolDate!=null">#{pojo.enrolDate},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO etp_illegal (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.etpId},
            #{pojo.decideOrg},
            #{pojo.mainFact},
            #{pojo.enrolDate}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE etp_illegal
        <set>
            <if test="pojo.id != null">"id" = #{pojo.id},</if>
            <if test="pojo.etpId != null">"etp_id" = #{pojo.etpId},</if>
            <if test="pojo.decideOrg != null">"decide_org" = #{pojo.decideOrg},</if>
            <if test="pojo.mainFact != null">"main_fact" = #{pojo.mainFact},</if>
            <if test="pojo.enrolDate != null">"enrol_date" = #{pojo.enrolDate}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated by codehelper on 2018-01-11 16:54:13-->
    <select id="findByEtpId" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_illegal
        where "etp_id"=#{etpId}
    </select>

    <!--auto generated by codehelper on 2018-01-12 10:30:56-->
    <select id="findByEtpIdIn" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_illegal
        where "etp_id" in
        <foreach item="item" index="index" collection="etpIdList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="findCountByEtpId" resultType="int">
        select
        "count"(*)
        from etp_illegal
        where "etp_id"=#{etpId}
    </select>
</mapper>

