<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.EtpSingleScoreMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.EtpSingleScore">
        <result column="id" property="id"/>
        <result column="etp_single_score" property="etpSingleScore"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        "id",
        "etp_single_score"
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO etp_single_score (
            "id",
            "etp_single_score"
        ) VALUES (
            #{pojo.id},
            #{pojo.etpSingleScore}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO etp_single_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> "id",</if>
            <if test="pojo.etpSingleScore!=null"> "etp_single_score",</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.etpSingleScore!=null">#{pojo.etpSingleScore},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO etp_single_score (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.etpSingleScore}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE etp_single_score
        <set>
            <if test="pojo.id != null"> "id" = #{pojo.id}, </if>
            <if test="pojo.etpSingleScore != null"> "etp_single_score" = #{pojo.etpSingleScore} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>

<!--auto generated by codehelper on 2018-01-31 18:43:55-->
    <select id="findById" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from etp_single_score
        where id=#{id}
    </select>
</mapper>

