<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.IndustryTzMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.IndustryTz">
        <result column="id" property="id"/>
        <result column="tz_code" property="tzCode"/>
        <result column="tz_name" property="tz_name"/>
        <result column="cyltz_hy" property="cyltzHy"/>
        <result column="tz_jdzt" property="tzJdzt"/>
        <result column="tz_zjgltz" property="tzZjgltz"/>
        <result column="tz_fxgltz" property="tzFxgltz"/>
        <result column="tz_yjnl" property="tzYjnl"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        id,
        tz_code,
        tz_name,
        cyltz_hy,
        tz_jdzt,
        tz_zjgltz,
        tz_fxgltz,
        tz_yjnl
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO industry_tz (
            id,
            tz_code,
            tz_name,
            cyltz_hy,
            tz_jdzt,
            tz_zjgltz,
            tz_fxgltz,
            tz_yjnl
        ) VALUES (
            #{pojo.id},
            #{pojo.tzCode},
            #{pojo.tz_name},
            #{pojo.cyltzHy},
            #{pojo.tzJdzt},
            #{pojo.tzZjgltz},
            #{pojo.tzFxgltz},
            #{pojo.tzYjnl}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO industry_tz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">id,</if>
            <if test="pojo.tzCode!=null">tz_code,</if>
            <if test="pojo.tz_name!=null">tz_name,</if>
            <if test="pojo.cyltzHy!=null">cyltz_hy,</if>
            <if test="pojo.tzJdzt!=null">tz_jdzt,</if>
            <if test="pojo.tzZjgltz!=null">tz_zjgltz,</if>
            <if test="pojo.tzFxgltz!=null">tz_fxgltz,</if>
            <if test="pojo.tzYjnl!=null">tz_yjnl,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.tzCode!=null">#{pojo.tzCode},</if>
            <if test="pojo.tz_name!=null">#{pojo.tz_name},</if>
            <if test="pojo.cyltzHy!=null">#{pojo.cyltzHy},</if>
            <if test="pojo.tzJdzt!=null">#{pojo.tzJdzt},</if>
            <if test="pojo.tzZjgltz!=null">#{pojo.tzZjgltz},</if>
            <if test="pojo.tzFxgltz!=null">#{pojo.tzFxgltz},</if>
            <if test="pojo.tzYjnl!=null">#{pojo.tzYjnl},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO industry_tz (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.tzCode},
            #{pojo.tz_name},
            #{pojo.cyltzHy},
            #{pojo.tzJdzt},
            #{pojo.tzZjgltz},
            #{pojo.tzFxgltz},
            #{pojo.tzYjnl}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE industry_tz
        <set>
            <if test="pojo.id != null">id = #{pojo.id},</if>
            <if test="pojo.tzCode != null">tz_code = #{pojo.tzCode},</if>
            <if test="pojo.tz_name != null">tz_name = #{pojo.tz_name},</if>
            <if test="pojo.cyltzHy != null">cyltz_hy = #{pojo.cyltzHy},</if>
            <if test="pojo.tzJdzt != null">tz_jdzt = #{pojo.tzJdzt},</if>
            <if test="pojo.tzZjgltz != null">tz_zjgltz = #{pojo.tzZjgltz},</if>
            <if test="pojo.tzFxgltz != null">tz_fxgltz = #{pojo.tzFxgltz},</if>
            <if test="pojo.tzYjnl != null">tz_yjnl = #{pojo.tzYjnl}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated by codehelper on 2018-02-08 10:09:11-->
    <select id="findByTzCode" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from industry_tz
        where tz_code=#{tzCode}
    </select>
</mapper>

