<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.LegalScoreMapper">

    <sql id="selectColumns">
        SELECT DISTINCT
        a.id,
        a.ent_name,
        a.un_is_cid,
        a.break_faith_count,
        a.pub_count,
        a.court_count,
        a.executed_count,
        a.legal_count,
        a.legal_score
        FROM legal_score a
    </sql>


    <select id="findByEntName" resultType="cn.bjd.platform.elastic.api.entity.LegalScore">
        <include refid="selectColumns"/>
        WHERE a.ent_name = #{entName}
    </select>


</mapper>