<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bjd.platform.elastic.provider.mapper.SteadyOperationScoreMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="cn.bjd.platform.elastic.api.entity.SteadyOperationScore">
        <result column="id" property="id"/>
        <result column="ent_name" property="entName"/>
        <result column="un_is_cid" property="unIsCid"/>
        <result column="tax_rate" property="taxRate"/>
        <result column="custom_rate" property="customRate"/>
        <result column="steady_operation_score" property="steadyOperationScore"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        "id",
        "ent_name",
        "un_is_cid",
        "tax_rate",
        "custom_rate",
        "steady_operation_score"
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO steady_operation_score (
            "id",
            "ent_name",
            "un_is_cid",
            "tax_rate",
            "custom_rate",
            "steady_operation_score"
        ) VALUES (
            #{pojo.id},
            #{pojo.entName},
            #{pojo.unIsCid},
            #{pojo.taxRate},
            #{pojo.customRate},
            #{pojo.steadyOperationScore}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO steady_operation_score
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">"id",</if>
            <if test="pojo.entName!=null">"ent_name",</if>
            <if test="pojo.unIsCid!=null">"un_is_cid",</if>
            <if test="pojo.taxRate!=null">"tax_rate",</if>
            <if test="pojo.customRate!=null">"custom_rate",</if>
            <if test="pojo.steadyOperationScore!=null">"steady_operation_score",</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.entName!=null">#{pojo.entName},</if>
            <if test="pojo.unIsCid!=null">#{pojo.unIsCid},</if>
            <if test="pojo.taxRate!=null">#{pojo.taxRate},</if>
            <if test="pojo.customRate!=null">#{pojo.customRate},</if>
            <if test="pojo.steadyOperationScore!=null">#{pojo.steadyOperationScore},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO steady_operation_score (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.entName},
            #{pojo.unIsCid},
            #{pojo.taxRate},
            #{pojo.customRate},
            #{pojo.steadyOperationScore}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE steady_operation_score
        <set>
            <if test="pojo.id != null">"id" = #{pojo.id},</if>
            <if test="pojo.entName != null">"ent_name" = #{pojo.entName},</if>
            <if test="pojo.unIsCid != null">"un_is_cid" = #{pojo.unIsCid},</if>
            <if test="pojo.taxRate != null">"tax_rate" = #{pojo.taxRate},</if>
            <if test="pojo.customRate != null">"custom_rate" = #{pojo.customRate},</if>
            <if test="pojo.steadyOperationScore != null">"steady_operation_score" = #{pojo.steadyOperationScore}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <!--auto generated by codehelper on 2018-01-30 19:14:40-->
    <select id="findById" resultMap="AllColumnMap">
        select
        <include refid="all_column"/>
        from steady_operation_score
        where id = #{id}
    </select>
</mapper>

